body {
  margin: 0;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #b4f8f5;
}

.show-container {
  display: block !important;
}

.initial-message-container {
  display: none;
  width: 350px;
  height: 200px;
  padding: 70px 15px 0 15px;
  box-sizing: border-box;
  background-color: #f0fdfd;
  font-size: 21px;
  text-align: center;
}

.listen-container {
  display: none;
  width: 350px;
  height: 200px;
  padding: 70px 15px 0 15px;
  box-sizing: border-box;
  background-color: #ddd1e7;
  font-size: 27px;
  color: #595959;
  text-align: center;
  transition: background-color .5s ease-in-out;
}

.translation-container {
  background-color: #ffcfdb !important;
}

.translated-container {
  background-color: #f8efd2 !important;
}

.listen-second-color {
  background-color: transparent !important;
}

.options-container {
  position: relative;
  display: none;
  width: 450px;
  box-sizing: border-box;
}

.option {
  width: 100%;
  padding: 20px 25px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f6f6f6;
  font-size: 21px;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.option:first-of-type {
  margin-top: 0;
}

.option:hover {
  background-color: #dbdbdb;
}

.option-title {
  position: absolute;
  text-align: center;
  width: 300px;
  font-size: 22px;
  font-weight: 600;
  margin: -70px auto 0 auto;
  left: 0;
  right: 0;
}
